<ion-header [translucent]="true">
  <ion-toolbar>
  <span slot="start">
    <img class="icon-header" src="../../assets/images/tes-icon.png"/>
  </span>
  <ion-title>EZklin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="slider">
    <!--Parameter 3 : partner_id,type_service,nominal-->
    <ion-slide (click)="goBookservice(1,'Cleaning')">
      <img
      src="../../assets/images/slider/cleaning-service.png"
      />
    </ion-slide>
  </ion-row>
  <ion-row class="slider">
      <ion-slide (click)="goBookservice(2,'Laundry')">
        <img
        src="../../assets/images/slider/laundry-service.png"
        />
      </ion-slide>
  </ion-row>

</ion-content>
